
*{
    margin: 50px;
    padding: 3px;
   }
   #wrapper{
    width: 1100px;
    background-color: silver;
    margin: 10px 80px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    margin: 30px; 
    
    
   }
   #entorno{
    min-height: 300px;
    width: 180px;
    background-color: blue;
    padding: 10px 10px;
    margin-left: 30px;
   }
   #contenedor_interno{
    min-height: 400px;
    width: 750px;
    background-color: red;
    text-align: center;
    padding: 10px 20px;
    margin-left: 280px;
    margin-top: -375px;
    
   }
   .sub_contenedor{
    display: inline-block;
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    padding: 5px;
    margin: 1px 5px; 
    
    vertical-align:top;
}
   #advertisement{
    min-height: 120px;
    width: 690px;
    background-color: purple;
    margin-left: 30px;
   }
   
   